body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #050210;
}

.container1 {
    position: relative;
    width: 400px;
    height: 400px;
    margin-top: 100px;
    background: linear-gradient(#fb5dad, #55fb9f, #b97aff);
    border-radius: 50%;
    animation: animation1 1s linear infinite;
}

.container1 > span {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(#fb5dad, #55fb9f, #b97aff);
    border-radius: 50%;
}

.container1 span:nth-child(1){
    filter: blur(5px);
}

.container1 span:nth-child(2){
    filter: blur(5px);
}

.container1 span:nth-child(3){
    filter: blur(5px);
}

.container1 span:nth-child(4){
    filter: blur(40px);
}

@keyframes animation1 {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.container2 {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    background-color: #050210;
    transform: translate(-50%, -50%);
}

.container2::before {
   position: absolute;
   content: '';
   top: 50%;
   left: 50%;
   width: 0;
   height: 0;
   border-radius: 50%;
   background-color: #050210;
   transform: translate(-50%, -50%);
   animation: animation2 2s linear infinite;
}

.container2::after {
   position: absolute;
   content: '';
   top: 50%;
   left: 50%;
   width: 100%;
   height: 100%;
   border-radius: 50%;
   transform: translate(-50%, -50%);
   animation: animation2 2s linear infinite;
   animation-delay: 1s;
}
 
@keyframes animation2 {
    0%{
        width:0;
        height: 0;
        background-color: #1a1a1a;
        opacity: 1; 
    }
    50% {
        opacity: 1;
    }
    100% {
        width: 100%;
        height: 100%;
        background-color: #050210;
        opacity: 0;
    }
}



